{% extends 'admin/layout.twig' %}

{% import 'admin/partials/components.twig' as ui %}

{% block title %}Termy | Administrace{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <h1 class="h3 mb-0">Termy – {{ current_term_type.label|default(current_term_type.key) }}</h1>
        </div>
        {{ ui.button('add', 'Přidat term', {
            href: '/admin/terms/create?type=' ~ current_term_type.key,
            class: 'ms-auto'
        }) }}
    </div>

    <div class="ajax-block" data-ajax-container data-endpoint="/admin/terms/type/{{ current_term_type.key }}" data-current-url="{{ pagination.current_url }}">
        {% include 'admin/terms/_list.twig' with {
            items: items,
            types: types,
            content_types: content_types,
            current_term_type: current_term_type,
            pagination: pagination
        } only %}
    </div>
{% endblock %}
