{% extends 'admin/layout.twig' %}

{% set current_menu = 'comments' %}
{% import 'admin/partials/components.twig' as ui %}
{% block title %}Komentáře | Administrace{% endblock %}

{% block body %}
    <div class="ajax-block" data-ajax-container data-endpoint="/admin/comments" data-current-url="{{ pagination.current_url }}">
        {% include 'admin/comments/_list.twig' with {
            comments: comments,
            status: status,
            counts: counts,
            content_map: content_map,
            parent_map: parent_map,
            child_counts: child_counts,
            pagination: pagination
        } only %}
    </div>
{% endblock %}

