{# src/App/View/front/layout.twig #}
<!doctype html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Můj web{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/front.css">
</head>
<body>
<header>...</header>

<main class="container">
    {% block body %}{% endblock %}
</main>

<footer>...</footer>
</body>
</html>
