{% extends 'admin/layout.twig' %}

{% set current_menu = 'users' %}
{% import 'admin/partials/components.twig' as ui %}

{% block title %}Uživatelé | Administrace{% endblock %}

{% block body %}
    <div class="d-flex align-items-center mb-3">
        <h1 class="h4 mb-0">Uživatelé</h1>
        {{ ui.button('add', 'Přidat uživatele', {
            href: '/admin/users/create',
            class: 'ms-auto'
        }) }}
    </div>

    <div class="card shadow-sm ajax-block" data-ajax-container data-endpoint="/admin/users" data-current-url="{{ pagination.current_url }}">
        {% include 'admin/users/_list.twig' with {
            users: users,
            roles: roles,
            pagination: pagination
        } only %}
    </div>
{% endblock %}
