{% extends 'admin/layout.twig' %}

{% set current_menu = current_type.slug %}
{% import 'admin/partials/components.twig' as ui %}

{% block title %}Obsah | Administrace{% endblock %}

{% block body %}
    {{ ui.page_header(current_type.plural_name|default('Obsah'), [
        {
            type: 'link',
            href: '/admin/content/' ~ current_type.slug ~ '/create',
            label: 'Nový ' ~ current_type.name|lower,
            variant: 'primary',
            icon: 'bi-plus'
        }
    ]) }}

    <div class="ajax-block" data-ajax-container data-endpoint="/admin/content/{{ current_type.slug }}" data-current-url="{{ pagination.current_url }}">
        {% include 'admin/content/_list.twig' with {
            items: items,
            types: types,
            current_type: current_type,
            current_status: current_status,
            pagination: pagination
        } only %}
    </div>
{% endblock %}
